<% provide(:title, raw("MEN'S LUXURY PYTHON ACCESSORIES")) %>

<div id="collection-container" class="fadeInUp">
	<div class="product"><%= image_tag("p12.jpg") %><a href="/product"><div class="product-overlay"><div class="product-text">Backpack<br>$900</div></div></a></div>
	<div class="product"><%= image_tag("p7.jpeg") %><a href="/product"><div class="product-overlay"><div class="product-text">Holdall<br>$1050</div></div></a></div>
</div>