<% provide(:title, raw("Men's Luxury Small Leather Goods")) %>

<div id="collection-container" class="fadeInUp">
	<!-- <h2>Collection 01 — Python and Alligator in Matte Black</h2> -->
	<div class="product"><%= image_tag("p7.jpeg") %><a href="/product"><div class="product-overlay"><div class="product-text">Python Card Case<br>$280</div></div></a></div>
	<div class="product"><%= image_tag("p7.jpeg") %><a href="/product"><div class="product-overlay"><div class="product-text">Python Wallet<br>$485</div></div></a></div>
</div>